/*Background*/
body{
    background-image: url("../img/background.webp");
    background-repeat: no-repeat;
    background-size: cover;

}

/*header*/
.logo{
    
    display: block;
    width: 40%;
    margin: auto;
    margin-top: 5%;

}

/*cards*/

.cards{
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    border-radius: 70px;
}

.card:hover{
    background-color: whitesmoke;
    animation: slidein;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;    
}

.card:not(hover){
    background-color: white;

    animation: slideout 0.5s;    

}
@keyframes slidein {
    from {
        
        transform: translateY(0%);
    }

    to {
        transform: translateY(-10%);

        
    }
}

@keyframes slideout {
    from {
        
        transform: translateY(-10%);
    }

    to {
        transform: translateY(0%);

        
    }
}
/*Form cards*/

.form-div{
    display: grid;
    display: flex;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    height: 20rem;
    width: 35rem;
    background-color: white;
    border-radius: 23px;
}
.left{
    float:left;
    width: 40%;
    height: 100%;
    border-radius: 23px;

}
.right{
    float: right;
    width: 60%;
    height: 100%;

    border-radius: 23px;


}

.right-form{
    height: 80%;
    margin-top: 10%;

}
.image{
    margin-top: 10%;
}


.fade-in{
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
to{
    opacity: 1;
}
    
}
