/*Background*/
body{
    background-image: url("../img/background.webp");
    background-repeat: no-repeat;
    background-size: cover;

}

/*header*/
.logo{
    
    display: block;
    width: 40%;
    margin: auto;

}

/*cards*/

.cards{
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    border-radius: 70px;
}

/*Form cards*/

.form-cards{
    margin-top: 10%;
    text-align: center;

}

.login-register-form-popup {
    color: #f1f1f1;
    display: none;
    position: fixed;
    margin-bottom: 10%;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    
}

.fade-in{
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
to{
    opacity: 1;
}
    
}
